<form>
  <div class="from-group">
    <label for="core_grades-grade-{{uniqid}}">{{#str}}grade, moodle{{/str}}</label>
    <input class="form-control" type="number" name="grade" value="{{grade}}" id="core_grades-grade-{{uniqid}}" aria-describedby="core_grades-help-{{uniqid}}">
    <small id="core_grades-help-{{uniqid}}" class="form-text text-muted">{{#str}}grade_help, core_grades{{/str}}</small>
  </div>
</form>
